<!-- Reference: https://www.gethalfmoon.com/docs/sidebar -->
<div class="sidebar-menu">
    <!-- Sidebar links and titles -->
    <a href="{% url 'index' %}" class="sidebar-link">Index</a>
    <h5 class="sidebar-title">Beer Stock Market</h5>
    <div class="sidebar-divider"></div>
    <a href="{% url 'market_controls' %}" class="sidebar-link">Controls</a>
    <a href="{% url 'market_history' %}" class="sidebar-link">History</a>
    {#    <a href="#" class="sidebar-link">CLI commands</a>#}
    <br/>
    <h5 class="sidebar-title">Beverages</h5>
    <div class="sidebar-divider"></div>
    <a href="{% url 'beverages' %}" class="sidebar-link">List</a>
    {#    <a href="#" class="sidebar-link">Spreadsheet</a>#}
    {#    <a href="#" class="sidebar-link">Map</a>#}
    {#    <a href="#" class="sidebar-link">Messenger</a>#}
</div>