[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
channels = "*"
django-htmx = "*"
channels-redis = "*"

[requires]
python_version = "3.8"
