<div id="beverage-list">
    {% if beverages %}
        <div class="container-fluid">
            <div class="row">
                <!-- Iterate over object_list -->
                {% for beverage in beverages %}
                    {% include 'beverage/beverage_card.html' %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="content">
            <h2 class="content-title">No Beverages yet</h2>
            <p>Start by adding some in the admin!</p>
            <hr/>
        </div>
    {% endif %}
</div>

