{% extends 'base_template.html' %}

{% load static %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/market/history.css' %}"/>
{% endblock %}

{% block title %}BSM - Market Status{% endblock %}

{% block content %}
    <div id="chartContent" class="content">
        <div class="chart-container">
            <canvas id="MarketStatusChart"></canvas>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script>
      const getLabels = (props) => {
        const {all_timestamps} = props
        return all_timestamps
      };

      const getDatasets = (props) => {
        const {sales_per_beverage} = props
        let datasets = []

        sales_per_beverage.map(beverage => {
          const {name, color, prices} = beverage

          datasets.push({
            label: name,
            backgroundColor: color,
            borderColor: color,
            data: prices,
          })
        })
        return datasets
      }

      const getChartData = (props) => {
        return {
          labels: getLabels(props),
          datasets: getDatasets(props),
        }
      }

      const getConfig = (props) => {
        return {
          type: 'line',
          data: getChartData(props),
          options: {
            maintainAspectRatio: false,
            elements: {
              point: {
                radius: 0,
                hoverRadius: 10,
              },
              line: {
                borderJoinStyle: 'round',
              },
            },
            plugins: {
              legend: {
                labels: {
                  boxWidth: 10,
                  color: '#FFFFFF',
                },
              },
            }
          }
        }
      }

      window.chart = new Chart(
        document.getElementById('MarketStatusChart'),
        getConfig(JSON.parse('{{ data }}'.replaceAll('&quot;', '"')))
      );

      const chatSocket = new WebSocket(`ws://${window.location.host}/ws/market-status/`);

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        if (window.chart) window.chart.destroy()

        // https://www.chartjs.org/docs/latest/
        window.chart = new Chart(
          document.getElementById('MarketStatusChart'),
          getConfig(data)
        );
      };

      chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
      };

    </script>
{% endblock %}